@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    padding: 3%;
    font-family: 'Roboto', sans-serif;
    color: black;
}

#to-do-input {
    font-size: 14px;
    font-weight: normal;
    padding: 5px 0px 5px 5px;
    border: 1px solid silver;
    background-color: white;
}

#to-do-list {
    padding: 0px;
    margin: 0px;
    list-style-position: inside;
}

#delete-all {

}

.letter {
    width: 48px;
    height: 48px;
    font-size: 32px;
    background-color: Lavender;
    color: purple;
    border: 1px solid black;
    margin: 2px 2px 2px 2px;
}
